.header {
  width: 100%;
  background: linear-gradient(180deg, #6fc2f1 0%, rgba(217, 217, 217, 0) 75%);
  min-height: 116px;
  height: 116px;
  position: relative;

  @include above($mobile) {
    min-height: 224px;
    height: 224px;
  }

  &--notHome {
    min-height: 62px;
    height: 62px;
  }

  .grass {
    position: absolute;
    height: 30px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(156, 186, 133, 0.01) 20%, #99dc65 100%);
  }

  .container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    @extend %headerTitle;

    animation: titleFadeIn 800ms forwards;

    &--notHome {
      font-size: $font-size-xl;
      text-decoration: none;
      font-family: $font-alatsi;
      color: $color-neutral-low-light;

      &:hover {
        color: $color-neutral-low-regular;
      }
    }
  }

  .canvas {
    position: relative;
    bottom: -10px;
  }

  .linksContainer {
    list-style: none;
    display: flex;
    gap: $spacing-xs;

    a {
      text-decoration: none;
      font-size: $font-size-sm;
      color: $color-neutral-low-regular;

      &:hover {
        color: $color-neutral-high-dark;
      }
    }
  }

  .linkSelected {
    border-bottom: 2px solid $color-primary-regular;
  }
}

@keyframes titleFadeIn {
  from {
    opacity: 0.1;
    letter-spacing: -38px;
  }
  to {
    opacity: 1;
    letter-spacing: 0;
  }
}
