.container {
  @extend %content-container;

  .textImage {
    display: flex;
    gap: $spacing-xxs;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: $spacing-sm;

    @include above($tablet) {
      gap: $spacing-xs;
      flex-direction: row;
      justify-content: space-between;
      padding-top: $spacing-xs;
    }

    &__text {
      max-width: 100%;

      @include above($tablet) {
        max-width: 363px;
      }
    }

    &__image {
      border: 1px solid $color-neutral-high-light;
      border-radius: $border-radius-1;
      box-shadow: $shadow-spread;
      max-width: 500px;
      height: 100%;
      margin: 0 auto;
      width: 100%;

      @include above($tablet) {
        width: 466px;
      }
    }
  }

  .highlight {
    color: $color-primary-regular;
    font-weight: 700;
  }

  strong {
    font-weight: 700;
  }

  .sectionTitle {
    @extend %title-2;
  }

  .text {
    margin-top: $spacing-nano;

    @include above($mobile) {
      margin-top: $spacing-xxs;
    }
  }

  .buttonContainer {
    padding: $spacing-nano $spacing-xxs;
    background-color: $color-neutral-high-pure;
    box-shadow: 0px -2px 10px #cacaca;
    border-top: 1px solid $color-neutral-high-light;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;

    @include above($mobile) {
      padding: 0;
      background-color: transparent;
      box-shadow: none;
      border-top: none;
      width: 100%;
      position: relative;
    }
  }
}
