@import './reset.scss';
@import './variables.scss';
@import './mixins.scss';
@import './fonts.scss';

html,
body,
button {
  font-family: $font-lato, Helvetica, sans-serif;
  font-size: clamp(14px, calc(100vw / 1050 * 10), 20px);
  line-height: 20px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-neutral-low-regular;
}

a {
  transition: all 150ms;
  color: $color-primary-regular;
  font-weight: 700;

  &:hover {
    color: $color-primary-light;
  }

  &:focus {
    color: $color-primary-light;
  }

  &:active {
    color: $color-primary-dark;
  }
}

*,
*::after,
*::before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

img {
  display: block;
}
